:root {
    --color-body: #131313;
}


body {
    color: var(--color-body);
    font-family: 'Montserrat', sans-serif;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 4rem;
}

.nav-link {
    color: var(--color-body);
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}
